<div class="container d-flex justify-content-center align-items-center align-content-center container-sign-up">
  <div class="d-flex flex-column align-items-center">
    <h2>Подтвердить аккаунт</h2>
   
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { "data-turbo": "false", method: :post }) do |f| %>  <%#отключаем data-turbo для отображения ошибок пользователю (особенность Rails 7 на май 2022 года)%>
      <%= render "devise/shared/error_messages", resource: resource %>
          
      <div class="field w-100">
        <%= f.label :email, value: "Укажите свой e-mail", class: "mb-2"%> <br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "w-100 mb-3" %>
      </div>

      <div class="actions mb-4">
        <%= f.submit "Подтвердить аккаунт", class:"btn btn-info text-light w-100 align-item-center" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>