<div class="container d-flex justify-content-center align-items-center align-content-center container-sign-up">
  <div class="d-flex flex-column align-items-center">
    <h2>Регистрация в DayOff</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { "data-turbo": "false"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-2">
        <% f.label :email %>Введите e-mail <br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100"%>
      </div>

      <div class="field mb-2">
        <% f.label :username %>Введите имя и фамилию<br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "w-100"%>
      </div>

      <div class="field mb-2">
        <% f.label :password %> Введите пароль
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> символов минимум)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "w-100"%>
      </div>

      <div class="field mb-2">
        <% f.label :password_confirmation %>Повторите пароль<br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-100"%>
      </div>

      <div class="actions mb-2">
        <%= f.submit "Зарегистрироваться", class:"btn btn-info text-light w-100 align-item-center" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>