<%= form_with model: @user do |form| %>
  <div>
    <% form.label :username %>Ваше имя<br>
    <%= form.text_field :username %>
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <% form.label :password %>Пароль<br>
    <%= form.text_field :password %><br>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Создать сотрудника"%>
  </div>
<% end %>


