  <% if user_signed_in? && current_user.admin = true%>
    <span>Здравствуйте, <%= current_user.email %>, <%= current_user.id %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>

     <h2>Сотрудники</h2>

     <ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to  user.username, user %> 
      
      <% user.holidays.each do |holiday| %>
  <p>
    <%= l(holiday.date_start, format: ("%d-%m-%Y") ) %> - <%= l(holiday.date_end, format: ("%d-%m-%Y"))%>
  </p>

<% end %>
</li>
      <% end %>
</ul>
<br>
<%= link_to "Новый сотрудник", new_user_path %>
<br>
<br>
<% if @users.size > 1 %>
  <%= link_to "Удалить сотрудника", user_path(@users[-1]), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
  } %>
<% elsif @users.size == 1%>
   <%= link_to "Удалить сотрудника", user_path(@users[0]), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
  } %>
  <%else%>
<% end %>
<br>
<br>
<%= link_to "Админ-панель", rails_admin_path %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>