<div class="bg-info">
  <% if user_signed_in? %>
  <div class="container">
    <div class="row py-2">
      <div class="col">
        <p>Приложение DayOff v 0.5</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <span class="me-2">Здравствуйте, <%= current_user.username %></span>
        <span class="link-logout"><%= link_to "Выйти", destroy_user_session_path, :method => :delete, class: "link-logout" %></span>
      </div>
    </div>
   
    <div class="row mb-3 bg-light">
      <div class="col bg-light p-4 border-end"> 
        <h2 class="mb-4"> Добавить запись: </h2>
        <%= turbo_frame_tag "user" d %> <%# для отображения ошибок внутри формы при непрохождении валидации%>
        <%= form_with model: [@user, @user.holidays.new] do |form| %>
        <div class="row">
          <div class="col">
            <p>
              <% form.label :date_start %>Начало отпуска<br><br>
              <%= form.date_field :date_start, :required => true, min: Date.today, max: Date.today + 365, class: "w-100" %>
            </p>
          </div>
          <div class="col">
            <p>
              <% form.label :date_end %>Конец отпуска<br><br>
              <%= form.date_field :date_end, :required => true, min: Date.today, max: Date.today + 365, class: "w-100" %>
            </p>
          </div>
          <p>
            <%= form.submit "Добавить запись", class:"btn btn-info text-light align-item-center w-100"%> 
          </p>
 
          <% @holiday.errors.full_messages.each do |message| %>
            <p class="bg-danger text-white p-3 w-100"><%= message %></p>
          <% end %>
 
          <% flash.each do |type, msg| %>
            <p class="alert alert-info w-100">
              <%= msg %>
            </p>
          <% end %>
        </div>
        <% end %>
        <% end %>
      </div>
   
      <div class="col bg-light py-4 px-4 border-start">
        <h2 class="mb-4"> Мои данные </h2>
        <span> E - mail: <%= @user.email %> </p>
      </div> 
    </div> 
  


    <div class="row bg-light">
      <div class="col bg-light py-5 px-5">
        <h2 class="mb-4">Даты отпуска</h2>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Номер записи</th>
              <th scope="col">Начало отпуска</th>
              <th scope="col">Конец отпуска</th>
              <th scope="col">Статус заявки</th>
            </tr>
          </thead>
          <tbody>
             <% @user.holidays.each_with_index do |holiday, index| %>
              <% if holiday.date_start == nil && holiday.date_end == nil %>
              <% else %>
            <tr>
            <td> <%= index += 1 %></td>
            <td><%= l(holiday.date_start, format: ("%d.%m.%Y")) %></td>
            <td><%= l(holiday.date_end, format: ("%d.%m.%Y")) %></td>
            <td><%= holiday.aasm.human_state %></td>
            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>  
</div>