<div class="container d-flex justify-content-center align-items-center align-content-center container-sign-up">
  <div class="d-flex flex-column align-items-center">
    <h2>Обновить пароль</h2>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>
    
      <div class="field">
        <%= f.label :password, "Новый пароль", class: "mb-2"%>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> символов минимум)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "mb-2 w-100"%>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, "Подтвердите новый пароль", class: "mb-2" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mb-3 w-100"%>
      </div>
    
      <div class="actions">
        <%= f.submit "Обновить пароль", class:"btn btn-info text-light w-100 align-item-center mb-3" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>  
</div>  