<div class="container d-flex justify-content-center align-items-center align-content-center container-login">
  <div class="d-flex flex-column align-items-center">
    <h2>Авторизоваться в DayOff</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-login d-flex flex-column">
      <div class="field mb-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
          <% resource.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
       <% end %>
      </div>

      <div class="field mb-2">
        <% f.label :password %>Пароль<br />
        <%= f.password_field :password, autocomplete: "current-password", required: true %>
        <% resource.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
       <% end %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-2">
          <%= f.check_box :remember_me %>
          <% f.label :remember_me %> Запомнить меня
        </div>
      <% end %>

      <div class="actions mb-3">
        <%= f.submit "Войти", class:"btn btn-info text-light w-100"%> 
      </div>
    </div>

    <% end %>
  
    <%= render "devise/shared/links" %>
  
  </div>
</div>