<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для смены пароля.  Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Если вы этого не запрашивали, проигнорируйте это письмо.</p>
<p> Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не создадите новый.</p>

